.bank_info{
    padding: 37px 15px 0 15px;
}
.write_info{
    font-size: 13px;
    color:#666666;
    width: 106px;
    height: 12px;
    margin-bottom: 10px;
}
.info_input{
    padding: 19px 16px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius:10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.info_input input{
    outline: none;
    border: none;
    height: 45px;
}
.ok_btn{
    width:345px;
    height:48px;
    background:rgba(0,114,255,1);
    box-shadow:0px 3px 12px 0px rgba(0,114,255,0.82);
    border-radius:24px;
    font-size:16px;
    font-family:PingFang SC;
    font-weight:200;
    color:rgba(255,255,255,1);
    text-align: center;
    line-height: 48px;
    margin-top: 20px;
}
