.content{
    padding: 25px 15px 50px 15px;
}
.container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius:10px;
    padding: 20px 0 15px 22px;
}
.content_head{
    margin-bottom: 39px;
    font-size:14px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(153,153,153,1);
}
.content_center{
    margin-bottom: 38px;
    border-bottom: 1px solid #E4E4EE;
    display: flex;
}
.content_center span{
    font-size:38px;
    font-family:PingFang;
    font-weight:500;
    color:rgba(18,25,34,1);
}
.content_center input{
    border: none;
    outline: none;
    font-size: 36px;
    width:100px ;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.dd{
    font-size:14px;
    font-family:Adobe Heiti Std;
    font-weight:normal;
    color:rgba(124,131,141,1);
}
.tx{
    font-size:12px;
    font-family:PingFang SC;
    font-weight:200;
    color:rgba(68,146,255,1);
    margin-left: 130px;
}
.cash_withdrawal{
    width:345px;
    height:48px;
    background:rgba(0,114,255,1);
    box-shadow:0px 3px 12px 0px rgba(0,114,255,0.82);
    border-radius:24px;
    font-size:16px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(255,255,255,1);
    text-align: center;
    line-height: 48px;
    margin-top: 50px;
}