.content{
    padding-left: 15px;
}
.container{
    width: 345px;
    height: 159px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius:20px;
}
.content_head{
    padding: 20px;
    width:128px;
    height:13px;
    font-size:14px;
    font-family:PingFang SC;
    font-weight:200;
    color:rgba(153,153,153,1);
}
.content_center{
    width: 305px;
    border-bottom: 1px solid #E4E4EE;
    margin-left: 18px;
    font-size:36px;
    font-family:PingFang;
    font-weight:200;
    color:rgba(18,25,34,1);
}
.content_center input{
    vertical-align: middle;
    display: inline-block;
    height: 28px;
    width: 115px;
    border: none;
    outline: none;
    font-size: 36px;
    font-family:AvantiBold;
    font-weight:400;
    color:rgba(18,25,34,1);
    margin-top: -8px;
}
.footer{
    margin-left: 26px;
    line-height: 22px;
}
.dd{
    font-size:14px;
    font-family:Adobe Heiti Std;
    font-weight:normal;
    color:rgba(124,131,141,1);
    color:rgba(124,131,141,1);
}
.tx{
    font-size:12px;
    font-family:PingFang SC;
    font-weight:200;
    color:rgba(68,146,255,1);
    margin-left: 130px;
}
.cash_withdrawal{
    width: 6.9rem;
    height: 0.96rem;
    background:rgba(0,114,255,1);
    box-shadow:0px 0.07rem 0.24rem 0 rgba(0,114,255,0.82);
    border-radius:0.48rem;
    font-size:0.32rem;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(255,255,255,1);
    text-align: center;
    line-height: 40px;
    margin-top: 1rem;
}