.center{
    text-align: center;
    color: burlywood;
    margin-bottom: 200px;
}
.btn1{
    margin-bottom: 100px;
    margin-left: 60px;
}
.btn2{
    margin-left: 160px;
}
.fontsize{
    font-size: 12vw;
}