.container{
    padding-left: 0.15rem;
}
.info{
    width:7.2rem;
    height:3.2rem;
    background:rgba(255,255,255,1);
    border-radius:0.1rem;
    padding-top: 10px;
}
.info p{
    font-size:0.3rem;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
    margin-top: 0.39rem ;
    margin-left: 0.3rem;
    position: relative;
}
.info p label{
    font-size:0.3rem;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(255,0,0,1);
}
.info p input{
    border: none;
    outline: none;
    border-bottom: 1px solid #E1E1E1;
    position: absolute;
    left: 2.72rem;
}
.selected{
    padding-left: 0.21rem;
}
.selected span{
    font-size:0.34rem;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.FilletRectangle{
    display: inline-block;
    width:0.07rem;
    height:0.28rem;
    background:rgba(0,114,255,1);
    border-radius:0.04rem;
    margin-right: 0.07rem;
}
.list{
    list-style: none;

}
.item{
    width: 6.7rem;
    border-bottom:1px solid rgba(225,225,225,1);
    background-color: #FFFFFF;
    height: 1.7rem;
    padding-top: 0.46rem;
    padding-left: 0.36rem;
}
.item p{
    font-size:0.24rem;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:0.3rem;
    padding-left: 0.36rem;
    margin-top: 0.15rem;
}
.package{
    font-size:0.26rem;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
    background-color: #FFFFFF;
    padding-left: 0.36rem;
    width: 6.7rem;
    border-bottom:1px solid rgba(225,225,225,1);
    padding-top: 0.36rem;
    height: 1.7rem;
}
.package div span:nth-child(1){
    padding-left:0.36rem ;
    margin-right: 1.81rem;
}
.package div span:nth-child(2){
    font-size:0.26rem;
    font-family:PingFang SC;
    font-weight:500;
    color:deeppink;
}
.package p{
    padding-left: 0.36rem;
}
.pay{
    padding-left: 0.36rem;
    font-size:0.3rem;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
    background-color: #FFFFFF;
    width:6.7rem ;
    padding-top: 0.31rem;
    height: 6rem;
}
.pay p{
    text-align: left;
    margin-top: 0.32rem;
}
.left_img{
   width: 0.38rem;
    height: 0.38rem;
    margin-right: 0.23rem;
}
.pay p .right_img{
    margin-left: 4.01rem;
}
.pay .agree{
    text-align: center;
}
.agree span{
    color: #0072FF;
}
.gopay{
    width:6rem;
    height:0.82rem;
    background:rgba(0,114,255,1);
    box-shadow:0px 0.07rem 0.24rem 0px rgba(0,114,255,0.82);
    border-radius:0.1rem;
    color: #FFFFFF;
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.82rem;
    margin-left:0.3rem ;
    margin-top: 0.52rem;
}