.container{
    padding: 25px 18px 0px 16px;
}
.profit{
    display: flex;
    justify-content: space-between;
}
.profit label{
    font-size:23px;
    font-family:PingFang SC;
    font-weight:400;
    color:#FF0000;
}
.time{
    padding: 29px 15px 13px 20px;
    display: flex;
    justify-content: space-around;
}
.list{
    list-style: none;
    background:rgba(255,255,255,1);
    box-shadow:-2px 2px 6px 0px rgba(0, 0, 0, 0.09);
    border-radius:5px;
}
.list li{
    padding: 14px 9px 11px 9px;
    border-bottom: 1px solid #ccc;
}
.list li div:nth-child(1){
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}
.list li div:nth-child(2){
    font-size:11px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(153,153,153,1);
}