.total{
    width:7.5rem;
    height:100px;
    background:rgba(255,255,255,1);
    box-shadow:-0.04rem 0.04rem 0.13rem 0px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0.31rem;
}
.total div{
    font-size:0.3rem;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
}
.total div span{
    color: #FF0000;
    font-size: 20px;
}
.time{
    font-size:0.32rem;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(56,56,56,1);
    display: flex;
    justify-content: space-around;

}
.time .income{
    font-size:0.4rem;
    font-family:PingFang SC;
    font-weight:400;
    color:#0072FF;
}
.list{
    width:7.12rem;
    background:rgba(255,255,255,1);
    box-shadow:-0.04rem 0.04rem 0.13rem 0px rgba(0, 0, 0, 0.09);
    border-radius:0.1rem;
    margin-left: 0.22rem;
}
.list .item{
    width: 6.75rem;
    border-bottom:1px solid rgba(225,225,225,1);
    padding-left: 0.22rem;
    margin-top: 0.27rem;
    height: 1.15rem;
    position: relative;
}
.list .item p:nth-child(1){
    font-size:0.28rem;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
    position: absolute;
    top: 0.28rem;
    left: 0.41rem;
}
.list .item p:nth-child(2){
    font-size:0.22rem;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(153,153,153,1);
    position: absolute;
    left: 0.41rem;
    top: 0.72rem;
}
.increment{
    margin-left: 2.3rem;
}