.container{
    padding-left: 0.23rem;
}
.item{
    width:7.16rem;
    height:2.01rem;
    background:rgba(255,255,255,1);
    box-shadow:-0.04rem 0.04rem 0.13rem 0px rgba(0, 0, 0, 0.09);
    border-radius:0.1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image{
    width:1.86rem;
    height:1.57rem;
    border-radius:0.4rem;
}
.content p:nth-child(1){
    font-size:0.28rem;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
}
.content p:nth-child(2){
    font-size:0.24rem;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
}
.content p:nth-child(3){
    font-size:0.24rem;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
}
.right_price{
    font-size:0.26rem;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(255,0,0,1);
}
.total{
    margin-left: 12px;
    width:356px;
    height: 100px;
    background:rgba(255,255,255,1);
    box-shadow:-2px 2px 7px 0px rgba(0, 0, 0, 0.09);
    border-radius:5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.total .more{
    margin-top: 12px;
}
.total .number{
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(102,102,102,1);
}
