.container{
    padding-left: 0.17rem;
}

.total_orders{
    text-align: right;
    font-size:0.22rem;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(255,0,0,1);
    margin-top: 0.27rem;
    margin-right: 0.26rem;
}
